.patient-list {
  max-height: 130vh;
  overflow-y: auto;

  /* scrollbar-width: thin;
  scrollbar-color: #072635 #e3e4e6; */
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #072635;
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  background-color: #e3e4e6;
  border-radius: 100vw;
}

/* @supports (scrollbar-color: #072635 #e3e4e6) {
  * {
    scrollbar-color: #072635 #e3e4e6;
    scrollbar-width: thin;
  }
} */
